<ion-content>
  <figure text-center padding>
    <img src="assets/images/logo.png" alt="">
  </figure>
  <ion-item>
    <ion-label position="floating">Correo Electronico</ion-label>
    <ion-input [(ngModel)]="email" type="text" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="password" type="password" name="password"></ion-input>
  </ion-item>
  <ion-button (click)="onSubmitLogin()" expand="block">Entrar</ion-button>
</ion-content>
<ion-footer text-center>
  <ion-button (click)="goToRegister()" expand="full" shape="round" fill="outline" color="success">Click para registrarse</ion-button>
</ion-footer>