<ion-header>
  <ion-toolbar>
    <h1 text-center>Home</h1>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-card (click)="goTojob()">
    <ion-card-header>
      <ion-img src="https://www.elpais.com.co/files/article_main/uploads/2017/04/11/58ecc0809f4b5.jpeg"></ion-img>
      <ion-card-subtitle>correo de persona que publica el trabajo</ion-card-subtitle>
      <ion-card-title>trabajo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>descripcion brebe del trabajo</p>
    </ion-card-content>
  </ion-card>
  
</ion-content>