<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="goToLogin()">
        <ion-icon name="arrow-round-back"></ion-icon>Volver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure text-center padding>
    <img src="assets/images/logo.png" alt="">
  </figure>
  <!-- -------------------------------------Campo para el nombre----------------------------- -->
  <ion-item>
    <ion-label position="floating">Nombre:</ion-label>
    <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
  </ion-item>
  <!-- -------------------------------------Campo para el nombre----------------------------- -->
  <!-- -------------------------------------Campo para el email--------------------------------------- -->
  <ion-item>
    <ion-label position="floating">Email:</ion-label>
    <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
  </ion-item>
  
  <!-- -------------------------------------Campo para el email--------------------------------------- -->
  <!-- -------------------------------------Campo para el password------------------------------------ -->
  <ion-item>
    <ion-label position="floating">Password:</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
  </ion-item>
  
  <!-- -------------------------------------Campo para el password------------------------------------ -->
  <ion-button color="secondary" expand="block" (click)="OnSubmitRegister()">Registrarse</ion-button>
</ion-content>
